<h2><%= @post.title %></h2>
<%= link_to @post.category.name, category_path(@post.category) %><br />
<%= link_to 'Edit', edit_post_path(@post) %> |

<p>
  <%= @post.content %>
</p>

<p id="notice"><%= notice %></p>

<%= render 'comments/form' %>

<!--using range to make sure new empty comment is not displayed-->
<% @comments[0..-2].each do |comment| %>
    <%= "#{comment.nick} napisal:" %><br />
    <%= comment.content %><br /><br />
<% end %>