<!DOCTYPE html>
<html>
<head>
  <title>Microblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="top">
  <h1>Super microblog!</h1>
</div>

<div id="categories">
  <h2>Categories</h2>
  <% @all_categories.each do |category| %>
    <%= link_to category.name, category_path(category) %><br />
  <% end %>
  <br />

  <%= link_to 'Wszystkie posty', root_path %><br /><br />
  <%= link_to 'Add category', new_category_path %>
</div>

<div id="main_content">
  <%= yield %>
</div>

</body>
</html>
